.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--bg-color-light);
  position: relative;
  flex-shrink: 0;
  transition: 0.2s var(--ease) width;
  border-radius: calc(var(--ui-indent) * 8);

  &__switchers {
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: var(--icon-color);
  }

  &__collapseBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: var(--icon-color);
    height: 100px;
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}
