@mixin dark-variables {
  --bg-color: #090F11;
  --bg-color-default: #0C1214;
  --bg-color-light: #151C1F;
  --primary-color: #DBDBDB;
  --secondary-color: #555;
  --cancel-color: #D95757;
  --save-color: #6CD98B;
  --icon-color: #74A2B2;
  --accent-color: #5ED3F3;
}
