@mixin light-variables {
  --bg-color-default: #EFF5F7;
  --bg-color: #FFF;
  --bg-color-light: #E2EEF1;
  --primary-color: #141C1F;
  --secondary-color: #ADBCC0;
  --cancel-color: #F77;
  --save-color: #62DE85;
  --icon-color: #5ED3F3;
  --accent-color: #00C8FF;
}
