.button {
  cursor: pointer;
  padding: calc(var(--ui-indent) * 2);
  outline: none;
  border: none;
  background: var(--bg-color-light);
  color: var(--primary-color);
  border-radius: var(--br);
  transition: 0.2s opacity var(--transition-v1);
  font: var(--font-line-xl);
  display: inline-flex;
  align-items: center;
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  border: 1px solid var(--bg-color-light);
  color: var(--primary-color);
  background: transparent;
}

.backgroundInverted {
  background: var(--bg-color-light);
  color: var(--primary-color);
  border: none;

  &:hover {
    background: var(--bg-color);
  }
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;

  &:hover {
    background: var(--bg-color-light);
  }
}
