.navbar {
  $block: &;

  width: 100%;
  height: var(--navbar-height);
  background: var(--bg-color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(var(--ui-indent) * 4);

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__link {
    color: var(--primary-color);
    padding: calc(var(--ui-indent) * 2) calc(var(--ui-indent) * 6);
    min-height: calc(var(--ui-indent) * 10);
    display: inline-flex;
    align-items: center;
    width: 100%;
    border-left: 2px solid transparent;

    &:hover {
      background-color: var(--bg-color);
      color: var(--accent-color);
      border-left: 2px solid var(--accent-color);
    }

    &:last-child {
      margin-right: 0;
    }

    svg {
      width: 18px;
      flex-shrink: 0;
    }

    span {
      margin-left: 15px;
    }
  }

  &__container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  &.collapsed {
   #{$block}__link {

     span {
       display: none;
     }
   }
  }
}
