.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--light-bg-color);
  display: flex;
  align-items: center;

  &__list {
    margin-left: auto;
  }

  &__link {
    margin-right: 15px;
    color: var(--defult-link-color);

    &:last-child {
      margin-right: 0;
    }
  }

  &__container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
  }
}
