.AppLink {
  color: var(--defult-link-color);
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.primary {
  color: var(--defult-link-color);
}

.secondary {
  color: var(--secondary-color);
}
